# apply 
apply:
  # a function that takes (batch)
  batch: null
  # a function that takes (outputs, batch)
  outputs:
    _target_: src.utils.hydra.partial
    _partial_: src.utils.hydra.get_cls
  # a function that takes (outputs, batch)
  step_outputs:
      _target_: src.utils.hydra.partial
      _partial_: src.utils.hydra.prepare_retrieval_eval

# str or list of non-conflicting keys
step_outputs:
  outputs: "cls"


# either metrics or val_metrics and test_metrics
# where the latter
metrics:
  # name of the metric used eg for logging
  mrr:
    # instructions to instantiate metric, preferrably torchmetrics.Metric
    metric:
      _target_: src.utils.hydra.partial
      _partial_: src.evaluation.retrieval.mrr
    # either on_step: true or on_epoch: true
    on_epoch: true
    compute: 
      preds: "outputs:preds"


# Model
# mixin on the fly
# paar sachen out-of-the-box
# datamodule
# define your own module
#
_target_: src.datamodule.base.BaseDataModule

setup:
  _target_: src.utils.hydra.partial
  _partial_: src.user.my_functions.dm_setup
  
